/*======================================================

  universal styling

=======================================================*/

* {
  border: 0;
  box-sizing: border-box;
  font-size: 18pt;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  }

/*=======================================================

  nav bar / menu styling

========================================================*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.menu {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.menu ul {
  background: #683695;
  list-style: none;
}

.menu > ul > li {
  background: #683695;
  display: inline-block;
  margin-bottom: 1px;
  position: relative;
  vertical-align: top;
  width: 24%;
}

.menu ul li a {
  color: #ffffff;
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: .5s;
}

.menu ul li a:hover {
  background: #231f20;
  color: #f7ec13;
  transition: .5s
}

.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  background: #231f20;
  display: block;
  position: absolute;
  top: 50px;
  width: 100%;
}

.menu svg {
  position: relative;
  top: 12px;
}

/*=====================================================

  body

=======================================================*/

.index {
  margin-top: 260px;
}

.red-italics {
  color: #ed2024;
  font-size: 24px;
  font-style: italic;
}

.align-left {
  float: left;
  margin: 20px;
}

.small {
  height: 250px;
  width: 250px;
}

/*=====================================================

  Gallery

======================================================*/

.top-row {
  position: absolute;
  right: 0;
  top: 260px;
  width: 325px;
  animation: right-left 10s linear infinite normal;
}

@keyframes right-left {
  from {
    left: 120%;
  }
  to{
    left: -20%;
  }
}

/*=====================================================

  ad

======================================================*/

.ad {
  bottom: 30px;
  position: fixed;
  right: 10px;
  width: 500px;
}
